Source: liveg-emoji
Section: fonts
Priority: extra
Standards-Version: 3.9.5
Maintainer: LiveG Technologies <hi@liveg.tech>
Build-Depends: debhelper (>= 9)
Homepage: https://github.com/LiveG-Development/OS-Emoji

Package: liveg-emoji
Architecture: all
Multi-Arch: foreign
Depends:
  ${misc:Depends},
  fontconfig
Enhances:
  firefox
Description: The emoji font used on LiveG operating systems, based on [Twitter's
  Twemoji](https://twemoji.twitter.com/).